<!doctype html>
<html>
<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="/css/chat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper #bdbdbd grey lighten-1">
      <a href="#" class="brand-logo center">____Chat Room</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Login</a></li>
        <li><a href="collapsible.html">Register</a></li>
      </ul>
    </div>
  </nav>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" />
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/js/chat.js"></script>
</body>
</html>